{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список новостей <a href="{{ path('news_new') }}" class="glyphicon glyphicon-plus-sign btn btn-success"></a></h1>

    <table class="table  table-striped">
        <thead>
            <tr>
                <th>#ID</th>
                <th>Заголовок</th>
                <th>Дата редактирования</th>
                <th>Дата добавления</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td><a href="{{ path('news_show', { 'id': news.id }) }}">{{ news.id }}</a></td>
                <td><a href="{{ path('news_show', { 'id': news.id }) }}">{{ news.title }}</a></td>
                <td>{% if news.updateTime %}{{ news.updateTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if news.addTime %}{{ news.addTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul class="btn-actions">
                        <li>
                            <a href="{{ path('news_show', { 'id': news.id }) }}" title="Редактировать" class="glyphicon glyphicon-eye-open btn"></a>
                        </li>
                        <li>
                            <a href="{{ path('news_edit', { 'id': news.id }) }}" title="Удалить" class="glyphicon glyphicon-edit btn"></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('news_new') }}" class="btn btn-success">Добавить новость</a>

{% endblock %}
